body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #141414;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

main {
    padding: 20px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.movie-poster {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

movie-poster img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.movie-poster:hover img {
    transform: scale(1.1);
}